body {
    background-image: url(image/BGplainstylish.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.nav bar {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;


}


nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
}

.btn {
    display: inline-block;
    background: #f60;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}


.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.col-1 {
    flex-basis: 45%;
    border: 2px solid;
    border-radius: 10%;
    margin-bottom: 10px;
    color: azure;
    text-align: center;
    transition: 1s;
}

.col-1:hover {
    transform: scale(1.3);
    z-index: 2;
}

.Container #EM {
    background-image: url(image/F&D.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.Container #FC {
    background-image: url(image/BGfoodcourt.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

.Container #CS {
    background-image: url(image/BGclothing.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

.Container #PA {
    background-image: url(image/BGphones.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

#Footer {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    margin-top: 20px;
}

.Baseline {
    flex-basis: 20%;
    margin-left: 10px;
    margin-right: 10px;
}

.Baseline h4 {
    font-weight: bolder;
}